name: Deploy App

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      target_env:
        description: "Select environment"
        required: true
        default: development
        type: choice
        options:
          - development
          - staging

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.target_env || 'development' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy
        run: |
          echo "Deploying to ${{ github.event.inputs.target_env || 'development' }}"
          echo ${{ secrets.DB_HOST }}
